<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>SyncBeats uses the local network to discover and sync music with nearby devices.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_syncbeats-net._tcp</string>
		<string>_syncbeats-net._udp</string>
	</array>
</dict>
</plist>
